<nav>
  <ul>
    <li>{{#link-to 'index'}}Go Home{{/link-to}}</li>
    <li>Best Recipes</li>
    <li>Popular Questions</li>
  </ul>
</nav>
<h2>Welcome to CookQuest.com</h2>
<h4>The home for all your cooking questions and answers</h4>

{{outlet}}
