{{#each model.questions as |question|}}
  <div class="question-tile">
    {{question-tile question=question}}
  </div>
{{/each}}

{{#each model.answers as |answer|}}
  <div class="answer-tile">
    {{answer.content}}
  </div>
{{/each}}
